@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap");

/* SCSS HEX */
$pale-spring-bud: hsl(105, 100%, 89%);
$pale-spring-bud-2: #e7ffdf;
$cambridge-blue: #bfd8bdff;
$eton-blue: #72b3e8;
$eton-blue-2: #77bfa3ff;
$orange-peel: rgb(251, 182, 78);
$mellow-apricot: rgb(246, 180, 95);
$white: #ffffffff;
$light-cyan: #cbf3f0ff;
$tiffany-blue: #2ec4b6ff;

.App {
  text-align: center;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: $eton-blue;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-self: center;
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0;
}
li {
  margin: 0.5rem;
}

nav li a {
  text-decoration: none;
  color: black;
}
nav li a:hover {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $eton-blue;
  height: 5rem;
}

.headerh1 {
  font-size: 3.5rem;
  font-family: "Patrick Hand", cursive;
}

.logoName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoName h1 {
  color: black;
}

.headerh2 {
  font-size: 3rem;
  font-family: "Patrick Hand", cursive;
}
.headerh3 {
  font-size: 2rem;
  font-family: "Patrick Hand", cursive;
}
.nav-header-logo {
  display: flex;
  align-items: center;
}
.input-translation {
  min-height: 3rem;
  margin-right: 2rem;
  width: 90%;
  border-radius: 50px;
  background-color: $pale-spring-bud-2;
}
.input-name {
  min-height: 3rem;
  margin-right: 2rem;
  width: 60%;
  border-radius: 50px;
  background-color: $pale-spring-bud-2;
}

.profile-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btns {
  background-color: $mellow-apricot;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px 20px 5px;
  border-color: $orange-peel;
  height: 3rem;
}
.btns:hover {
  background-color: $orange-peel;
}
.clear {
  background-color: $cambridge-blue;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px 20px 5px;
  border-color: $cambridge-blue;
  height: 3rem;
}
.clear:hover {
  background-color: $eton-blue-2;
}
a {
  text-decoration: none !important;
}

.pagetemplate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pale-spring-bud;
  min-height: calc(100vh - 10rem);
}
// .logo-startpage {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }

.logo-container {
  position: relative;
}

.splash {
  z-index: -1;
  position: absolute;
  top: 80%;
  left: 20%;
}
.profilepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $pale-spring-bud;
  min-height: calc(100vh - 10rem);
}
.translated {
  display: flex;
  flex-direction: column;

  justify-content: center;
  background-color: $pale-spring-bud-2;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  margin-top: 4rem;
  padding: 2rem;
  margin-bottom: 4rem;
}
.translation-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $pale-spring-bud-2;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  margin-top: 4rem;
  padding: 2rem;
  margin-bottom: 4rem;
}
.translated-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding-left: 0;
}

.sign-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.translation-history-container {
  min-width: 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div img {
  width: 30px;
  height: 30px;
}
