/* SCSS HEX */
$pale-spring-bud: #edeec9ff;
$pale-spring-bud-2: #dde7c7ff;
$cambridge-blue: #bfd8bdff;
$eton-blue: #98c9a3ff;
$eton-blue-2: #77bfa3ff;

.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $eton-blue-2;
  height: 4rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $eton-blue-2;
  height: 4rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pale-spring-bud;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
